@using System.ComponentModel.DataAnnotations

<div style="max-width: 400px;">
  <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudCard>
      <MudCardContent>
        <MudTextField Label="Name"
                      @bind-Value="model.FullName" For="@(() => model.FullName)"
                      Variant="Variant.Outlined" Text="" Lines="1" /> <br />

        <MudTextField Label="Email"
                      @bind-Value="model.Email" For="@(() => model.Email)"
                      Variant="Variant.Outlined" Text="" Lines="1" /><br />

        <MudTextField Label="Message"
                      @bind-Value="model.Message" For="@(() => model.Message)" 
                      Variant="Variant.Outlined" Text="" Lines="2" />
      </MudCardContent>
      <MudCardActions>
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Submit</MudButton>
      </MudCardActions>
    </MudCard>
  </EditForm>
</div>

<br />

@code {
  UserContact model = new UserContact();
  bool success;

  public class UserContact
  {
    [Required]
    [StringLength(30, ErrorMessage = "Name length can't be more than 30.")]
    public string FullName { get; set; }

    [Required]
    [EmailAddress]
    public string Email { get; set; }

    [StringLength(100, ErrorMessage = "Please use 100 characters or less")]
    public string Message { get; set; }
  }

  private void OnValidSubmit(EditContext context)
  {
    success = true;
    StateHasChanged();
  }

}