@using System.ComponentModel.DataAnnotations

<div style="max-width: 400px;">
  <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudCard>
      <MudCardContent>
        <MudTextField Label="Name" HelperText="Full Name"
                      @bind-Value="model.FullName" For="@(() => model.FullName)" />
        <MudTextField Label="Email" HelperText="Email" Class="mt-3"
                      @bind-Value="model.Email" For="@(() => model.Email)" />
        <MudTextField Label="Message" HelperText="Message" Class="mt-3"
                      @bind-Value="model.Message" For="@(() => model.Message)" Variant="Variant.Text" Text="" Lines="2" />
      </MudCardContent>
      <MudCardActions>
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Submit</MudButton>
      </MudCardActions>
    </MudCard>
  </EditForm>
</div>

<br />

@code {
  UserContact model = new UserContact();
  bool success;

  public class UserContact
  {
    [Required]
    [StringLength(8, ErrorMessage = "Name length can't be more than 8.")]
    public string FullName { get; set; }

    [Required]
    [EmailAddress]
    public string Email { get; set; }

    [StringLength(10, ErrorMessage = "Please use 300 characters or less")]
    public string Message { get; set; }
  }

  private void OnValidSubmit(EditContext context)
  {
    success = true;
    StateHasChanged();
  }

}