<div style="max-width: 400px;">
  <MudText Typo="Typo.h6" GutterBottom="true">Contact Details</MudText>
  <MudPaper Width="100%">
    <MudList Clickable="false">
      <MudListItem Text="Office: admin@lifehousechurch.org.za" Icon="@Icons.Filled.Email" />
      <MudListItem Text="Tele: 076 990 0359" Icon="@Icons.Filled.Phone" IconColor="Color.Primary" />
      <MudListItem Text="Whatsapp: 076 990 0359" Icon="@Icons.Filled.PhoneAndroid" IconColor="Color.Secondary" />
    </MudList>
  </MudPaper>
  <br />
  <MudText Typo="Typo.h6" GutterBottom="true">Office Hours</MudText>
  <MudPaper Width="100%">
    <MudList Clickable="false">
      <MudListItem Text="Mon - Fri: 08h00 - 12h:00" Icon="@Icons.Filled.Watch" />
    </MudList>
  </MudPaper>
  </div>

  @code {

  }
