@inherits LayoutComponentBase

<div class="page">
  <div class="main">
    <div class="content px-4">
      <MudThemeProvider />
      <MudDialogProvider MaxWidth="MaxWidth.ExtraSmall"
                         CloseButton="true"
                         DisableBackdropClick="true"
                         NoHeader="true"
                         Position="DialogPosition.Center" />
      <MudSnackbarProvider />
      @Body
    </div>
  </div>
</div>
