@inherits LayoutComponentBase

<div class="page">
  <div class="main">
    <div class="content px-4">
      <MudThemeProvider />
      <MudDialogProvider />
      <MudSnackbarProvider />
      @Body
    </div>
  </div>
</div>
